 <% layout("/layouts/boilerplate") -%>
<!-- 
  ✅ Main Content -->


  <div class="newcontent container my-5">
    <div class="row justify-content-center w-100">
      <div class="col-md-6 col-lg-5">
        <div class="newcard p-4">
          <h2 class="text-center mb-4">Create New Listing</h2>
          <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" id="title" name="listing[title]" class="form-control" placeholder="Enter title" required>

              <div class="valid-feedback">Title Looks Good!</div>
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea id="description" name="listing[description]" rows="3" class="form-control" placeholder="Enter description"></textarea>
             <div class="invalid-feedback">Please ENter A short description</div>

            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select id="category" name="listing[category]" class="form-select" required>
                 <option value="" disabled selected>Select category</option>
                  <option value="Trending">Trending</option>
                  <option value="Rooms">Rooms</option>
                  <option value="Iconic Cities">Iconic Cities</option>
                  <option value="Mountains">Mountains</option>
                  <option value="Castles">Castles</option>
                  <option value="Amazing Pools">Amazing Pools</option>
                  <option value="Camping">Camping</option>
                  <option value="Farms">Farms</option>
                  <option value="Arctic">Arctic</option>
                  <option value="Domes">Domes</option>
                  <option value="Boating">Boating</option>
                </select>
               <div class="invalid-feedback">Please select a valid category</div>
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">price</label>
              <input  id="price" name="listing[price]" class="form-control" placeholder="Enter a faverable price" required>
              <div class="invalid-feedback">Price Should be Valid</div>
            </div>
          
            <div class="mb-3">
              <label for="image" class="form-label">Upload New Image</label>
              <input type="file" id="image" name="listing[image][url]"  class="form-control"  >
            </div>
         


            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input type="text" id="country" name="listing[country]" class="form-control" placeholder="Enter country" required>
              <div class="invalid-feedback">Country should be valid </div>

            </div>

            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Enter location" required>
              <div class="invalid-feedback">Location should be valid</div>

            </div>

            

            <button type="submit" class="newbtn">Add Listing</button>
          </form>
        </div>
      </div>
    </div>
  </div>

 
 
 


